/* Rules that affect all kind of containers */

body,
#body,
.container {
    background: $body-bg;
}

.container_inside,
.content,
.left-panel,
.right-panel,
.sidebox-head-l,
.sidebox-head-r,
.sidebox-head-c,
.sidebox-head2-l,
.sidebox-head2-r,
.sidebox-head2-c,
.sidebox-body-r,
.sidebox-body-l,
.sidebox-body-c,
.sidebox-body-c2,
.sidebox-foot-l,
.sidebox-foot-r,
.sidebox-foot-c,
.screen-res {
    background: $box-bg;
}

div.resmod {
    border-bottom-color: $border-dark-color;
}

.wallpaper-2ads-separator {
    border-top-color: $border-dark-color;
}

// Rating on image details page
.unit-rating {
    filter: invert(0.89);
}

.sidebox-head-cnt {
    color: unset;
}
